@import url('https://fonts.googleapis.com/css?family=Raleway');
* {
    font-family: 'Raleway', sans-serif;
}

button {
    margin: 0 auto;
    background-color: lightgray;
    border: solid 2px lightslategray;
    color: darkslategray;
    border-radius: 5px;
    padding: 5px;
    font-size: 1.5em;
    display: inline-block;
}

#buttons {
    margin: 10px auto;
    text-align: center;
}

#container {
    margin: 0 auto;
    margin-bottom: 50px;
    width: 800px;
}

table {
    border-spacing: 0px;
    width: 800px;
    height: 800px;
}

td {
    border: solid 1px gray;
}

.painted {
    background-color: black;
}